/* CSS variables */
@import url(partials/var.css);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--colortext);
    background-color: #fff;
    border-color: var(--colortext);
    box-shadow: var(--colortext);
    font-family: var(--raleway);

    position: relative;
}

.dark {
    color: var(--bgcolor1);
    background-color: var(--colortext);
    border-color: var(--bgcolor1);
    box-shadow: var(--bgcolor1);
}
.dark-reversed {
    color: var(--colortext);
    background-color: var(--bgcolor1);
    border-color: var(--colortext);
    box-shadow: var(--colortext);
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}
button {
    cursor: pointer;
}

input:focus {
    outline: none;
}

/* Dark/Light Mode */
.mode {
    display: none;
}

i,
button {
    color: inherit;
    background: none;
    border: none;

}
.slider {
    cursor: pointer;
}
.outer-box {
    border: 4px solid;
    border-radius: 25Px;
    height: 32px;
    width: 60px;
    position: relative;
}

.inner-circle {
    height: 4px;
    width: 4px;
    border-radius: 50%;
    border: 10px solid;
    position: absolute;
    top: 12px;
    left: 15px;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in-out;
}


/* Start Navbar */
nav {
    height: fit-content;
    position: fixed;
    z-index: 99999;
    width: 100vw;
    color: var(--colortext);
    background-color: var(--bgcolor1);
    font-size: 1rem;

    border-bottom: 2px solid;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 70px;
}

.nav-links a {
    color: inherit;
}

/* LOGO */
.logo {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    font-size: 18px;
}

.nav-link {
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: inherit;

    margin: 0 10px;
    padding: 10px;
}

.nav-link:hover {
    background-color: var(--colortext);
    color: var(--bgcolor1);
    transition: 1s;
}


/*RESPONSIVE NAVBAR MENU STARTS*/
input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}


@media (max-width: 768px) {

    nav {
        background-color: #FFF;
        color: var(--color2);
    }

    .nav-links a {
        color: var(--colortext);
    }

    .menu {
        display: none;
        position: absolute;
        background-color: var(--bgcolor2);
        right: 0;
        left: 0;
        text-align: end;
        padding: 16px 0;

        border-bottom: 2px solid var(--color2);
    }

    .menu li+li {
        margin-top: 12px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .nav-link {
        background-color: rgba(255, 255, 255, 0);
        border: none;
        border-radius: none;
    }

    .nav-link:hover {
        background-color: #FFF;
        color: var(--color2);
    }
}

/* End Navbar */


/* Start Homepage */

.block {
    background-color: inherit;
    height: 30px;
}

.container-home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
}

.home-card {
    max-width: 900px;
    height: auto;
    padding: 3rem;
    margin-top: 10vh;

    border: 3px solid;
    box-shadow: 5px 10px;
}

.home-card:hover {
    transform: scale(1.01);
    box-shadow: 10px 20px;
}

.home-card-text {
    font-size: 20px;
    line-height: 35px;
}

.signature {
    font-family: var(--homemade);
    font-size: 32px;
    line-height: 60px;
}

.formbox {
    margin-top: 20px;
    padding: 1rem;
    height: 40px;
    width: 200px;
    font-family: inherit;

    border: 3px solid inherit;
    border-radius: 20px;
}

.submitbox {
    margin-top: 20px;
    height: 40px;
    width: 100px;

    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: var(--colortext);
    color: #FFF;
    border: 3px solid var(--colortext);
    border-radius: 20px;
}
/* End Homepage */



/* Start Review Table */

.container-review-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-row {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 80vw;
}

.review-col {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 1%;
    min-height: 80px;
    border: 1px solid;
    text-align: center;
}

.col-1 {
    width: 10vw;
    border-left: none;
    position: relative;
}

.col-2 {
    width: 60vw;
}

.col-3 {
    width: 10vw;
    border-right: none;
}
.col-4 {
    display: none;
}

.row-title {
    font-size: 25px;
    font-weight: 700;
}

.row-title .review-col {
    border-top: none;
}

.row-end .review-col {
    border-bottom: none;
}

.review-brand {
    height: 60px;
    width: auto;
    position: absolute;
    right: 10px;
}

.plus-icon {
    display: none;
}



@media (max-width: 1200px) {
    .container-review-table {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 3rem;
    }

    .review-row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 3px solid;
        width: 300px;
        height: 400px;
        margin: 1rem;
        padding: 1rem;
        position: relative;

        transition: transform 1s ease-in-out;
        transition: background-color 1s ease-in-out;

        
    }

    .row-title {
        display: none;
    }
    .review-brand {
        position:static;
    }

    .review-col {
        border: none;
        width: 90%;
    }

    .col-1,
    .col-2,
    .col-4 {
        display: none;
    }

    .col-3 {
        display: none;
    }

    .col-1 {
        position: absolute;
        top: 30px;
    }

    .plus-icon {
        display: inline;
        position: absolute;
        right: 15px;
        bottom: 15px;
        transition: transform 1s ease-in-out;
        cursor: pointer;
    }


}

.active {
    display: inline;
}
.rotate {
    transform: rotate(45deg);
}
/* .turn {
    transform: rotateY(180deg);
}
.turn-back {
    transform: rotateY(-180deg);
} */

/* End Review Table */


/* Start Scroll back to top of page */

.to-top-line {
    display: flex;
    justify-content: center;
    padding: 30px;
}

 /* End Scroll back to top of page */