
/* CSS Variables */
:root {
    --color1: #f6f5f0;
    --color2: #1d302e;
    --color3: #c9cbbe;
    --color4: #e2b282;
    --color5: #ecdbc9;

    --colortext: #1d302e;
    --colortextdark: #f6f5f0;;
    --colortextfade: #1d302e3f;
    

    --bgcolor1:#fff;
    --bgcolordark:#1d302e;
    


    --roboto: 'Roboto', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --handlee: 'Handlee', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --montserratbold:'Montserrat', bold;
    --montserratsubrayada: 'Montserrat Subrayada', sans-serif;
    --kdam: 'Kdam Thmor Pro', sans-serif;
    --raleway:'Raleway', sans-serif;
    --ralewaybold:'Raleway', bold;
    --homemade: 'Homemade Apple', cursive;
    --neucha:  'Neucha', cursive;

} 